
            
            <div class="footer-bottom">
                <ul>
                    <li><a href="#" style="color: #999">触屏版</a></li>
                    <li><a href="#" style="border-left: 1px solid #999;padding-left: 6px">电脑版</a></li>
                </ul>
                <ul>
                    <li><a href="#" >回顶部</a></li>
                    <li><a href="#" style="padding-right: 8px;border-right: 1px solid #999">反馈</a></li>
                </ul>
                <div class="copyright">Copyright© 2006 - 2019 ZCOOL</div>
    
            </div>
    