<div class="error animate" ></div>
<a href="/index.html" class="logo-a">
    <img class="logo" src="../../../static/images/logo_black.png">
</a>

<div class="main">

    <div class="tel">
        <input type="text" placeholder="手机号" class="telInput">
    </div>
    <div class="user">
        <input type="text" placeholder="用户名" class="userInput">
    </div>
    <div class="password">
        <input type="password" placeholder="密码" class="passwordInput">
    </div>
    <div class="code">
        <input type="text" placeholder="验证码" class="codeInput">
        <div class="getCode">获取验证码</div>
    </div>
    <div class="codeBox"></div>
    <div class="register">注册</div>
    <div class="bottom">
        <input type="checkbox" class="checkBox">
        我已阅读并接受用户协议
    </div>
    <a href="/normalLogin.html" style="float:right">登陆</a>

</div>