
        <a class="nav-item" href="/activity.html">
            <svg width="1.07rem" height="0.77rem" viewBox="0 0 50 30">
                <g fill-rule="nonzero" fill="none">
                    <path d="M0 0h50v30H0z"></path>
                    <ellipse fill="#FFD100" cx="13.765" cy="10.973" rx="10.98" ry="10.973"></ellipse>
                    <g stroke="#282828" stroke-width="3.158">
                        <path d="M16.783 13.29l11.536-5.244a2.368 2.368 0 0 1 3.268 1.543l2.548 9.51a2.368 2.368 0 0 1-2.058 2.97l-12.614 1.226a2.368 2.368 0 0 1-2.516-1.744l-1.472-5.491a2.368 2.368 0 0 1 1.308-2.77z" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M28.387 23.151l.217.768a2.368 2.368 0 0 1-1.852 2.973l-2.034.373a2.368 2.368 0 0 1-2.729-1.77l-.588-2.417"></path>
                        <path d="M35.588 7.93l2.09-3.316M37.941 13.751l4.586-1.21M38.725 19.595l3.319 2.088" stroke-linecap="round"></path>
                    </g>
                </g>
            </svg>
            活动
        </a>
        <a class="nav-item"  href="/jobs.html">
            <svg width="1.07rem" height="0.77rem" viewBox="0 0 50 30">
                <g fill-rule="nonzero" fill="none">
                    <path d="M0 0h50v30H0z">
                    </path>
                    <ellipse fill="#FFD100" cx="16.765" cy="10.973" rx="10.98" ry="10.973"></ellipse>
                    <g transform="translate(19.902 7.838)"><rect stroke="#333" stroke-width="3.158" width="20.392" height="19.595" rx="2.368"></rect>
                        <rect fill="#333" x="4.706" y="4.703" width="10.98" height="3.135" rx="1.568"></rect>
                        <path stroke="#333" stroke-width="3.158" stroke-linecap="round" stroke-linejoin="round" d="M.785 10.946h4.4v3.756h9.735v-3.756h4.073"></path>
                    </g>
                </g>
            </svg>
            招聘
        </a>
        <a class="nav-item" href="/match.html">
            <svg width="1.07rem" height="0.77rem" viewBox="0 0 50 30">
                <g fill-rule="nonzero" fill="none">
                    <path d="M0 0h50v30H0z"></path>
                    <ellipse fill="#FFD100" cx="16.765" cy="10.973" rx="10.98" ry="10.973"></ellipse>
                    <g transform="translate(18.333 7.838)">
                        <path d="M18.819 8.76a6.4 6.4 0 0 1 .005.254c0 3.679-3.16 6.662-7.06 6.662-3.898 0-7.058-2.983-7.058-6.662 0-.085.002-.17.005-.254a2.404 2.404 0 0 1-.005-.155V2.368A2.368 2.368 0 0 1 7.074 0h9.381a2.368 2.368 0 0 1 2.369 2.368v6.237c0 .052-.002.104-.005.155z" stroke="#333" stroke-width="3.158"></path>
                        <rect fill="#333" x="5.49" y="18.027" width="12.549" height="3.135" rx="1.568"></rect>
                        <rect fill="#333" transform="rotate(-90 11.765 17.635)" x="8.235" y="16.068" width="7.059" height="3.135" rx="1.568"></rect>
                        <path d="M18.824 3.919h4.479c0 4.95-1.493 7.425-4.48 7.425V3.92zM4.48 3.919H0c0 4.95 1.493 7.425 4.48 7.425V3.92z" stroke="#333" stroke-width="3.158" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </g>
            </svg>
            赛事
        </a>
        <a class="nav-item" href="#">
            <svg width="1.07rem" height="0.77rem" viewBox="0 0 50 30" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path id="a" d="M0 .085h22.14v22.02H0z"></path>
                    <path id="c" d="M.111.055H5.69v5.557H.111z"></path>
                </defs><g fill="none" fill-rule="evenodd">
                <path d="M0 0h50v30H0z"></path>
                <ellipse fill="#FFD100" fill-rule="nonzero" cx="16.765" cy="11.053" rx="10.98" ry="11.053"></ellipse>
                <g transform="translate(18.333 6.771)">
                    <mask id="b" fill="#fff"><use xlink:href="#a"></use></mask>
                    <path d="M22.14 3.46v-.866A2.514 2.514 0 0 0 19.62.085H2.52a2.514 2.514 0 0 0-2.52 2.51v17.001a2.514 2.514 0 0 0 2.52 2.508h14.594a3.895 3.895 0 0 1-.404-3.375H4.23a.838.838 0 0 1-.84-.836V4.297c0-.462.376-.836.84-.836H17.91c.464 0 .839.374.839.836v12.152a3.942 3.942 0 0 1 1.695-.385c.607 0 1.18.14 1.694.385V3.46z" fill="#333" mask="url(#b)"></path>
                </g><g transform="translate(35.898 23.936)">
                <mask id="d" fill="#fff"><use xlink:href="#c"></use></mask>
                <path d="M5.69 2.834A2.784 2.784 0 0 1 2.9 5.612 2.784 2.784 0 0 1 .112 2.834 2.784 2.784 0 0 1 2.901.055C4.44.055 5.69 1.3 5.69 2.834" fill="#333" mask="url(#d)"></path>
            </g>
            </g>
            </svg>
            站酷海洛
        </a>
