   <!-- 头部  标题 开始 -->
   <header class="app-header">
       <div class="app-header_top">
        <div class="header-icon flex-div"><i></i></div>
        <div class="header-title flex-div">站酷招聘</div>
        <div class="flex-div"></div>
       </div>
        <div class="main-item_search">
            <div class="main-item_search-city">
                <span>北京</span>
                <i></i>
            </div>
            <div class="main-item_search-searchBox">
                <i></i>
                <span>搜索职位或公司</span>
            </div>
        </div>
        <div class="main-citiesSimple">
            <div class="main-citiesSimple_name">
                <p>当前城市</p>
                <ul>
                    <li class="main-citiesSimple_name-active">北京</li>
                </ul>
            </div>
            <div class="main-citiesSimple_name">
                <p>其他城市</p>
                <ul>
                    <li>上海</li>
                    <li>广州</li>
                    <li>深圳</li>
                    <li>杭州</li>
                    <li>全国</li>
                    <li>其他城市</li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 头部  标题 结束 -->