<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://hellorfimg.zcool.cn/manager/avatar/c3870051b83443d72fab8a4c45201148.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="https://hellorfimg.zcool.cn/manager/avatar/194cae59f6ee05faf9e23c83dd7e6538.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="https://hellorfimg.zcool.cn/manager/avatar/06c7c682599ff57a160c9c611587c890.jpeg" alt=""></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
</div>