<main class="movie-main">
    <div class="movie-main_search">
        <form action="">
            <input type="text" placeholder="搜索关键词或者图片编号">

        </form>
        <a href=""></a>
    </div>
    <div class="movie-main_banner">

    </div>
    <section class="movie-main_section">
        <p>改变您的工作方式从站酷海洛开始</p>
        <p>汇集 244,041,132 张正版图片 昨日新增 276,368 张</p>
    </section>
    <div class="movie-main_feature">
        <ul>
            <li>
                <p><img src="/static/images/movie-main_feature-img.png"></p>
                <span>正版承诺</span>
            </li>
            <li>
                <p><img src="/static/images/movie-main_feature-img1.png"></p>
                <span>价格低廉</span>
            </li>
            <li>
                <p><img src="/static/images/movie-main_feature-img2.png"></p>
                <span>发票支持</span>
            </li>
        </ul>
        <a href="">查看价格</a>
    </div>
    <div class="movie-main_hotTitle">
        <h2>热门专题</h2>
        <ul>
            <li>
                <div>
                    <p><img src="/static/images/facture-icon.jpeg" alt=""></p>
                    <span>矢量印花背景</span>
                </div>
                <div>
                    <p><img src="/static/images/facture-icon1.jpeg" alt=""></p>
                    <span>粉色背景女生</span>
                </div>
            </li>
            <li>
                <div>
                    <p><img src="/static/images/facture-icon2.jpeg" alt=""></p>
                    <span>城市地铁</span>
                </div>
                <div>
                    <p><img src="/static/images/facture-icon3.jpeg" alt=""></p>
                    <span>街头背影</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="movie-main_about">
        <h2>关于海洛</h2>
        <p>站酷海洛，一站式正版视觉内容交易平台，授权内容包含图片，视频，音乐，字体等，是站酷旗下品牌。</p>

        <p>目前，站酷海洛在线销售的正版图片已逾2.6亿张，高清视频超过13,000,000条，是美国纽交所上市公司Shutterstock在中国地区的官方独家合作伙伴。自2014年上线以来，站酷海洛已先后为阿里巴巴、京东、亚马逊、华为、小米、联想、奥美、盛世长城、百度、360、招商银行、工商银行等数万家企业级客户提供安全、高效、优质的视觉创意解决方案，并已通过API接入腾讯社交广告、金山WPS等平台。
        </p>

        <p>站酷海洛，致力于以正版，经济，高效，便捷的产品优势和服务理念，为客户提供创意所需。</p>
    </div>
</main>